<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<table class="table table-hover">
    <tr>
        <th>NO</th>
        <th align="center">Story </th>
        <th align="center> Story about dhamma </th>
        <th class="text-right" translate> Description </th>
        <th class="text-center" translate>listProduct.picture</th>
    </tr>

    <tr>
        <td>01</td>
        <td>วันมาฆบูชา</td>
        <td>"มาฆะ" เป็นชื่อของเดือน ๓ มาฆบูชานั้น ย่อมาจากคำว่า"มาฆบุรณมี" แปลว่าการบูชาพระในวันเพ็ญ เดือน ๓ วันมาฆบูชาจึงตรงกับวันขึ้น ๑๕ ค่ำ เดือน ๓ แต่ถ้าปีใดมีเดือน อธิกมาส คือมีเดือน ๘ สองครั้ง วันมาฆบูชาก็จะเลื่อนไปเป็นวันขึ้น ๑๕ ค่ำ เดือน ๔ เป็นวันสำคัญวันหนึ่ง ในวันพุทธศาสนา คือวันที่มีการประชุมสังฆสันนิบาตครั้งใหญ่ในพุทธศาสนา ที่เรียกว่า "จาตุรงคสันนิบาต" และเป็นวันที่พระสัมมาสัมพุทธเจ้าได้ทรงแสดง โอวาทปฎิโมกข์ แก่พระสงฆ์สาวกเป็นครั้งแรก ณ เวฬุวันวิหาร กรุงราชคฤห์ เพื่อให้พระสงฆ์นำไปประพฤติปฏิบัติ เพื่อจะยังพระพุทธศาสนาให้เจริญรุ่งเรืองต่อไป </td>
        <td class="text-right" ><img src = "pic/1.gif"></td>
        <td class="text-right" ></td>
        <td >
            <div  class="text-center" >


            </div>
        </td>

    </tr>

    <tr>
        <td>02</td>
        <td>วันอัฏฐมีบูชา</td>
        <td>ความหมาย เนื่องด้วยอัฏฐมีคือวันแรม ๘ ค่ำ แห่งเดือนวิสาขะ (เดือน ๖) เป็นวันที่ถือกันว่าตรงกับวันถวายพระเพลิงพระพุทธสรีระ เมื่อถึงวันนี้แล้ว พุทธศาสนิกชนบางส่วน ผู้มีความเคารพกล้าในพระพุทธองค์ มักนิยมประกอบพิธีบูชา ณ ปูชนียสถานนั้น ๆ วันนี้จึงเรียกว่า "วันอัฏฐมีบูชา"
        <td class="text-right" ><img src = "pic/2.gif"></td>
        <td class="text-right" ></td>
        <td >
            <div  class="text-center" >


            </div>
        </td>

    </tr>

    <tr>
        <td>03</td>
        <td>วันออกพรรษา</td>
        <td>วันออกพรรษานี้ เรียกอีกอย่างหนึ่งว่า "วันมหาปวารณา" คำว่า"ปวารณา"แปลว่า "อนุญาต" หรือ "ยอมให้" คือ เป็นวันที่เปิดโอกาสให้พระภิกษุสงฆ์ด้วยกัน ว่ากล่าวตักเตือนกันได้ ในข้อที่ผิดพลั้งล่วงเกินระหว่างที่จำพรรษาอยู่ด้วยกัน ในวันออกพรรษานี้กิจที่ชาวบ้านมักจะกระทำก็คือ การบำเพ็ญกุศล เช่น ทำบุญตักบาตร จัดดอกไม้ ธูป เทียน ไปบูชาพระที่วัด และฟังพระธรรมเทศนา ของที่ชาวพุทธนิยมนำไปใส่บาตรในวันนี้ก็คือ ข้าวต้ม มัดไต้ และข้าวต้มลูกโยน และการร่วมกุศลกรรมการ "ตักบาตรเทโว" คำว่า "เทโว" ย่อมาจาก"เทโวโรหน" แปลว่าการเสด็จจากเทวโลกการตักบาตรเทโว
        <td class="text-right" ><img src = "pic/3.gif"></td>
        <td class="text-right" ></td>
        <td >
            <div  class="text-center" >


            </div>
        </td>

    </tr>


    <tr>
        <td>04</td>
        <td>วันโกน - วันพระ</td>
        <td>วันพระ หรือ วันธรรมสวนะ หมายถึง วันประชุมถือศีลฟังธรรมในพุทธศาสนา (ธรรมสวนะ หมายถึง การฟังธรรม) กำหนดเดือนทางจันทรคติ
            ในวันพระ พุทธศาสนิกชนถือเป็นวันสำคัญ ควรไปวัดเพื่อทำบุญ ถวายภัตตาหารแด่พระสงฆ์ และฟังธรรม สำหรับผู้ที่เคร่งครัดในศาสนาอาจถือศีลแปดในวันพระด้วย นอกจากนี้ชาวพุทธยังถือว่าวันพระไม่ควรทำบาปใดๆ การทำบาปหรือไม่ถือศีลห้าในวันพระถือว่าเป็นบาปยิ่งในวันอื่น</td>
        <td class="text-right" ><img src = "pic/4.gif"></td>
        <td class="text-right" ></td>
        <td >
            <div  class="text-center" >


            </div>
        </td>

    </tr>




    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
</table>

</body>
</html>