<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; วัดป่าธรรมาภิรมย์ตั้งอยู่ที่ ๙๒  หมู่ ๑๑ บ้านปากทางม่วงโตน ตำบลเหล่ายาว อำเภอบ้านโฮ่ง จังหวัดลำพูน ๕๑๑๓๐ วัดมีที่ดิน ๓๑ ไร่ ๑ งาน ๑ ตารางวา โดยได้รับพระราชทานที่ดินจากองค์ สมเด็จพระญาณสังวร สมเด็จพระสังฆราชสกล มหาปรินายก (เจริญ สุวฑฺฒโน) โดย พระเทพกวี หรือสมณศักดิ์ครั้งสุดท้าย พระพุทธพจนวราภรณ์ (หลวงปู่จันทร์ กุสโล)  ให้ทำการสร้างวัดตั้งแต่ ๓๐ สิงหาคม พ.ศ.  ๒๕๓๐  โดยพระครูไสว ธนสีโล รักษาการเจ้าอาวาสสำนักสงฆ์ปากทางม่วงโตน จนได้รับการตั้งเป็นวัดโดยสมบูรณ์ตามประกาศกระทรวงศึกษาธิการเมื่อวันที่ ๑๑ มิถูนายน ๒๕๔๕ ชื่อว่าวัดป่าธรรมาภิรมย์ และมีเจ้าอาวาสมาแล้ว ๒ รูป
รูปที่ ๑ พระครูวิจิตรธรรมาภิรม (ไสว) ธนสีโล  ดำรงตำแหน่งเจ้าอาวาสตั้งแต่วันที่ ๓๐ กันยายน พ.ศ.๒๕๔๕ – ๑๘  มีนาคม พ.ศ. ๒๕๔๗  ออกจากตำแหน่งด้วยการมรณภาพ
รูปที่ ๒ พระครูประสิทธิ์ธรรมธร ดำรงตำแหน่งตั้งแต่ ๑ เมษายน พ.ศ. ๒๕๔๕ – ๓๑ มีนาคม พ.ศ. ๒๕๔๗ ออกจากตำแหน่งเนื่องจากลาสิกขา
รูปที่ ๓ พระครูสังฆกิจจารักษ์ (พิสิฏฐ์ ) วสุรเสฏโฐ ดำรงตำแหน่งตั้งแต่ วันที่ 9 เมษายน พ.ศ. ๒๕๔๙ จวบจนปัจจุบันในระหว่างที่ดำรงตำแหน่งอยู่นี้ได้สร้างกุฎิสงฆ์ และกุฏิปฏิบัติธรรมทั้งหมด ๘ หลัง , สร้างกุฏิเจ้าอาวาส ๑ หลัง และ ก่อสร้างอุโบสถศิลปะล้านนา ๑ หลัง ในขณะนี้เสร็จแล้วประมาณ ๘๐ เปอร์เซ็น ได้ขุดสระ ๑ สระกว้าง ๒๐ เมตร ยาว ๒๕ เมตร ลึก ๘ เมตร เพื่อให้มีน้ำใช้ตลอดปี สร้างพระศิลาเขียวพร้อมลานธรรมจักร พระหยกขาวได้อัญเชิญมาจากมัลดะเลย์ประเทศพม่าพร้องทั้งพระอัครสาวกทั้งสองและมีโครงการที่จะสร้างเจดีย์อีกหนึ่งองค์หลังจากโบสถ์แล้วเสร็จ จึงขอเชิญชวนท่านที่มิจิตศรัทธาในพระพุทธศาสนาร่วมสมทบทุนในการก่อสร้างองค์พระเจดีย์ที่จะได้สร้างขึ้นไว้ ณ วัดป่าธรรมาภิรมย์แห่งนี้ตามจิตศรัทธา ติดต่อได้โดยตรงที่พระครูสังฆกิจจารักษ์ โทร ๐๘๑-๗๘๔๘๓๒๓ หรือคุณ ณัฏฐพัชร์ เมธีภักดิภูมิ ๐๘๑-๘๘๔๒๓๙๒ ได้ทุกวัน</h2>

    <a ng-show="hasRole('admin')" class="btn btn-primary" href="#/register">Edit</a>

</body>
</html>